.mobile-nav {
  background: #1c1b1b;
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.bloc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

i{
  font-size: 35px;
  color: #ca5705;
}