<app-topbar></app-topbar>

<div class="container-fluid fade-right-animation">
    <div class="row">
        <div class="col-12 mb-1 d-flex justify-content-center align-items-center">
            <h1 class="title">Usuarios</h1>
        </div>
        <div class="col-12 mb-4">
            <div class="d-flex justify-content-center">
                <form class="d-flex w-100 search-form" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar usuario" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<app-navbar></app-navbar>
