<div class="gw-example-github">
	<form [formGroup]="searchForm">

		<label>
			<input gui-input type="text" placeholder="Type here..." formControlName="query" value="Tetris">
		</label>
		<button gui-button type="submit" (click)="submit()">Search</button>

	</form>

	<div class="result-count">
		Showing {{items.length}} out of {{total_count}} results.
	</div>

	<gui-grid
		[loading]="fetching"
		[columns]="columns"
		[source]="items"
		[sorting]="true"
		[maxHeight]="700"
		infoPanel]="true">
	</gui-grid>
</div>