<table class="table align-middle custom-transparent-table">
  <thead>
    <tr>
      <th class="font-weight-bold">ID</th>
      <th class="font-weight-bold">Plan</th>
      <th class="font-weight-bold">Precio</th>
      <th class="font-weight-bold">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plan of planes">
      <td>{{ plan.idPlan }}</td>
      <td>{{ plan.nombrePlan }}</td>
      <td>{{ plan.precio }}</td>
      <td>
        <app-add-edit-planes [plan]="plan" [modalId]="'exampleModal' + plan.idPlan"></app-add-edit-planes>
      </td>
    </tr>
  </tbody>
</table>
