<table class="table align-middle bg-white">
  <thead class="bg-light">
    <tr>
      <th>ID</th>
      <th>Plan</th>
      <th>Precio</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plan of planes">
      <td>
        <div class="d-flex align-items-center">
          <p>{{ plan.idPlan }}</p>
        </div>
      </td>
      <td>
        <p class="fw-normal sm-1">{{ plan.nombrePlan }}</p>
      </td>
      <td>
        <p>{{ plan.precio }}</p>
      </td>
      <td>
        <app-add-edit-planes [plan]="plan"></app-add-edit-planes>
      </td>
    </tr>
  </tbody>
</table>