<app-topbar></app-topbar>

<div class="container-fluid fade-right-animation">
    <div class="row">
        <div class="col-12 mb-1 d-flex justify-content-center">
            <h1 class="title">Ejercicios</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mb-4" *ngFor="let ejercicio of ejercicios">
            <div class="d-flex justify-content-center">
                <app-card [titulo]="ejercicio.nombreEjercicio" [urlImagen]="ejercicio.urlImagen" [id]="ejercicio.idEjercicio"></app-card>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-end">
        <div class="col-12 col-md-3 d-flex justify-content-end">
            <app-add-new-ejercicio [ejercicio]="nuevoEjercicio" [modalId]="'exampleModal'"></app-add-new-ejercicio>
        </div>
    </div>
</div>


<app-navbar></app-navbar>
